p {
    margin: 0px;
}

.header {
    height: 5rem;
    background-color: #8a2b06;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.cart {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #3A1504;
    padding: 10px 20px;
    border-radius: 30px;
    white-space: nowrap;
    /* color: white; */
}

.cart div {
    background-color: #993A24;
    height: 40px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-image {
    width: 100%;
    height: 25rem;
    z-index: 0;
    overflow: hidden;
}

.body-image img {
    width: 110%;
    height: 100%;
    object-fit: cover;
    transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
}

/* meals section  */
.meal-summary {
    background-color: #383838;
    color: white;    
    border-radius: 14px;
    width: 50%;
    margin: auto;
    margin-top: -130px;
    position: relative;
    padding: 20px;
    box-shadow: 0 1px 18px 10px #2b2a2a;
    text-align: center;
}

.meal-summary h2 {
    font-size: 2rem;
    margin-top: 0;
}